*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0d1117;
    color:white;
    font-family:Arial, sans-serif;
    line-height:1.6;
}

/* Header */

header{
    text-align:center;
    padding:100px 20px;
}

header h1{
    font-size:4rem;
    color:#58a6ff;
    margin-bottom:15px;
}

header p{
    font-size:1.3rem;
    color:#c9d1d9;
}

/* Sections */

section{
    max-width:1100px;
    margin:auto;
    padding:50px 20px;
}

h2{
    color:#58a6ff;
    margin-bottom:25px;
    font-size:2rem;
}

/* Skills */

.skills ul{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.skills li{
    list-style:none;
    background:#161b22;
    padding:12px 18px;
    border-radius:10px;
    transition:0.3s;
}

.skills li:hover{
    transform:translateY(-5px);
}

/* Project Cards */

.card{
    background:#161b22;
    padding:25px;
    margin-bottom:20px;
    border-radius:15px;
    transition:0.3s;
    cursor:pointer;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    margin-bottom:10px;
}

.project-link{
    text-decoration:none;
    color:white;
}

/* GitHub Button */

.github-btn{
    display:inline-block;
    margin-top:25px;
    padding:14px 28px;
    background:#58a6ff;
    color:white;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;
    transition:0.3s;
}

.github-btn:hover{
    transform:translateY(-3px);
}

/* Contact */

.contact{
    text-align:center;
}

.contact a{
    color:#58a6ff;
    text-decoration:none;
}

.contact a:hover{
    text-decoration:underline;
}

/* Footer */

footer{
    text-align:center;
    padding:30px;
    color:#888;
    border-top:1px solid #222;
    margin-top:40px;
}

/* Responsive */

@media(max-width:768px){

    header h1{
        font-size:2.5rem;
    }

    header p{
        font-size:1rem;
    }

    section{
        padding:30px 20px;
    }

    h2{
        font-size:1.7rem;
    }
}
